

.title {
    color: #d6b161;
    font-size: 25px;
}



/* header */
header ,nav {
    height: 80px;
}

.logo img {
    max-width: 150px;
    margin: 10px;
}

/* slide */
#slide {
    margin-bottom: 30px;
}

/* lightbox */

.products a {
    display: inline-block;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.modal {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

.modal img {
    width: 100%;
    height: 0 auto;
    transform: translate( 0, 150%);
}
